.cellular-drag-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.cellular-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  font-family: "Ultra", serif;
  font-weight: 100;
}

.cellular-measurement-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.cellular-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.cellular-fieldset {
  border: solid #f9630d 3px;
  border-radius: 1rem;
  box-shadow: 0 0 10px 10px #d3d3d3;
}

.cellular-input-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cellular-input-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cellular-text-input {
  font-size: 1.5rem;
  margin: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.cellular-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 2px solid #f9630d;
  color: #000000;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 0.5s ease, transform 0.5s ease;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}

.cellular-submit-button:hover {
  background-color: #f9630d;
  transform: scale(1.2);
}

.cellular-cut-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.cellular-tape-measure-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;    
}

.cellular-tape-measure-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 1rem;
  left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  width: 15%;
  background-color: #fff;
  border: solid #f9630d 3px;
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px #d3d3d3;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.cellular-tape-measure-button:hover {
  background-color: #f9630d;
  transform: scale(1.05);
}

.cellular-tape-measure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #f9630d;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 20%;
  padding: 0.5rem;
  pointer-events: auto;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.4s ease-in-out forwards;
  opacity: 0 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.draggable-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .cellular-header {
    width: 100vw;
    font-size: 2.5rem;
  }

  .cellular-measurement-header {
    width: 100vw;
    font-size: 1.5rem;
  }

  .cellular-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    width: 70vw;
    max-width: 70vw;
    flex-wrap: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .cellular-fieldset {
    width: 70vw;
    max-width: 70vw;
  }

  .cellular-input-one {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-text-input {
    width: 40vw;
  }

  .cellular-input-two {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-cut-showcase {
    width: 70vw;
    max-width: 70vw;
    font-size: 1rem;
    padding-top: 1px;
    text-align: center;
  }

  .cellular-tape-measure-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30vw;
  }

  .cellular-tape-measure-btn-container {
    padding-top: 22px;
  }
}

@media (max-width: 768px) {
  .cellular-header {
    width: 100vw;
    font-size: 2rem;
  }

  .cellular-measurement-header {
    width: 100vw;
    font-size: 1.5rem;
  }

  .cellular-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    width: 70vw;
    max-width: 70vw;
    flex-wrap: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .cellular-fieldset {
    width: 70vw;
    max-width: 70vw;
  }

  .cellular-input-one {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-text-input {
    width: 60vw;
  }

  .cellular-input-two {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-cut-showcase {
    width: 70vw;
    max-width: 70vw;
    font-size: 1rem;
    padding-top: 1px;
    text-align: center;
  }

  .cellular-tape-measure-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40vw;
  }
}

@media (max-width: 430px) {
  .cellular-header {
    width: 100vw;
    font-size: 2rem;
  }

  .cellular-measurement-header {
    width: 100vw;
    font-size: 1.2rem;
  }

  .cellular-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    width: 70vw;
    max-width: 70vw;
    flex-wrap: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .cellular-fieldset {
    width: 70vw;
    max-width: 70vw;
  }

  .cellular-input-one {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-text-input {
    width: 60vw;
  }

  .cellular-input-two {
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 70vw;
    font-size: 1.5rem;
    text-align: center;
  }

  .cellular-cut-showcase {
    width: 70vw;
    max-width: 70vw;
    font-size: 1rem;
    padding-top: 1px;
    text-align: center;
  }

  .cellular-tape-measure-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
  }
}