.faux-wood-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    font-family: "Ultra", serif;
    font-weight: 100;
}

.measurement-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.faux-wood-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.faux-input-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.faux-input-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.faux-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cut-showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tape-measure-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}