button {
    all: unset;
}

.blind-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    justify-content: space-evenly;
}

.blind-container-faux-wood {
    flex: 0 1 auto;
    text-align: center;
}

.blind-container-faux-wood h1 {
    font-family: "Ultra", serif;
    font-size: 2.5rem;
    font-weight: 100;
}

.faux-wood-button {
    width: 450px;
    height: 400px;
    border-radius: 1rem;
    border: solid 3px;
    border:solid #f9630d 3px;
    padding: .5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.faux-wood-button:hover {
    box-shadow: 0 0 3px 3px #808080;
    transform: scale(1.02);
}

.faux-wood-image{
    width: 400px;
    height: 350px;
    object-fit: cover;
}

.blind-container-cellular {
    flex: 0 1 auto;
    text-align: center;
}

.blind-container-cellular h1{
    font-family: "Ultra", serif;
    font-size: 2.5rem;
    font-weight: 100;
}

.cellular-button {
    width: 450px;
    height: 400px;
    border-radius: 1rem;
    border: solid 3px;
    border:solid #f9630d 3px;
    padding: .5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.cellular-button:hover {
    box-shadow: 0 0 3px 3px #808080;
    transform: scale(1.02);
}

.cellular-shade-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
}

.blind-container-vinyl {
    flex: 0 1 auto;
    text-align: center;
}

.blind-container-vinyl h1 {
    font-family: "Ultra", serif;
    font-size: 2.5rem;
    font-weight: 100;
}

.vinyl-button{
    width: 450px;
    height: 400px;
    border-radius: 1rem;
    border:solid #f9630d 3px;
    padding: .5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.vinyl-button:hover {
    box-shadow: 0 0 3px 3px #808080;
    transform: scale(1.02);
}

.vinyl-blind-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
}