.blind-card-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
  padding: 0.5rem;
  border: solid #f9630d;
  border-radius: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.blind-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.card-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  gap: 15px;
}

.dropdown-card-select,
.card-name-input {
  width: 30%;
  border: solid black 2px;
  border-radius: 6px;
}

.card-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
}

.card-width-input {
  width: 10%;
  border: solid black 2px;
  border-radius: 6px;
}

.blind-image-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.card-height-input {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 50px;
  border: solid black 2px;
  border-radius: 6px;
}

.blind-card-image {
  max-height: 300px;
  display: block;
}

.card-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.card-btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-remove-btn {
  padding: 0.5rem;
  border: solid #d2042d;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.card-remove-btn:hover {
  background-color: #d2042d;
}

.card-save-btn {
  padding: 0.5rem;
  border: solid #228b22;
  background-color: #fff;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.card-save-btn:hover {
  background-color: #228b22;
}

.card-save-btn:disabled {
  border: solid grey;
  background-color: grey;
  cursor: default;
}

.submit-blind-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (max-width: 2560px) {
  .blind-card-container {
    width: 30vw;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }

  .blind-card-header {
    font-size: 2.5rem;
  }

  .card-name-input {
    font-size: 2rem;
    width: 50%;
    height: 10%;
  }

  .dropdown-card-select {
    font-size: 2rem;
    width: 50%;
    height: 10%;
  }

  .card-width-input {
    font-size: 2rem;
    width: 20%;
  }

  .card-height-input {
    font-size: 2rem;
    width: 50%;
    top: 50%;
    left: -120px;
  }

  .card-save-btn {
    font-size: 2rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .card-remove-btn {
    font-size: 2rem;
    text-wrap: nowrap;
    width: 30%;
  }
}

@media (max-width: 1440px) {
  .blind-card-container {
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .blind-card-header {
    font-size: 1rem;
  }

  .card-name-input {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .dropdown-card-select {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .card-width-input {
    font-size: 1rem;
    width: 15%;
  }

  .card-height-input {
    font-size: 1rem;
    width: 26%;
    top: 50%;
    left: -70px;
  }

  .card-save-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .card-remove-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .blind-card-container {
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .blind-card-header {
    font-size: 1.5rem;
  }

  .card-name-input {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .dropdown-card-select {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .card-width-input {
    font-size: 1rem;
    width: 15%;
  }

  .card-height-input {
    font-size: 1rem;
    width: 30%;
    top: 50%;
    left: -70px;
  }

  .card-save-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .card-remove-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .blind-card-container {
    width: 70vw;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .blind-card-header {
    font-size: 1.5rem;
  }

  .card-name-input {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .dropdown-card-select {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .card-width-input {
    font-size: 1rem;
    width: 15%;
  }

  .card-height-input {
    font-size: 1rem;
    width: 30%;
    top: 50%;
    left: -70px;
  }

  .card-save-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .card-remove-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 20%;
  }
}

@media (max-width: 430px) {
  .blind-card-container {
    max-width: 80vw;
    width: 80vw;
  }

  .blind-card-header {
    font-size: 1.2rem;
  }

  .card-name-input {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .dropdown-card-select {
    font-size: 1rem;
    width: 50%;
    height: 10%;
  }

  .card-width-input {
    font-size: 1rem;
    width: 20%;
  }

  .card-height-input {
    font-size: 1rem;
    width: 30%;
    top: 50%;
    left: -35px;
  }

  .card-save-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .card-remove-btn {
    font-size: 1rem;
    text-wrap: nowrap;
    width: 30%;
  }

  .blind-card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
  }
}
