.showroom-header {
  display: flex;
  justify-content: center;
  font-family: "Ultra", serif;
  font-weight: 100;
  font-size: 2rem;
}

.showroom-btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.showroom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 15%;
  background-color: #fff;
  border: solid;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.5s ease, transform 0.5s ease;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.showroom-btn:hover {
  background-color: #f9630d;
  transform: scale(1.05);
}


@media (max-width: 1024px) {
  .showroom-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100vw;
  }
}

@media (max-width: 768px) {
  .showroom-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 100vw;
  }
}

@media (max-width: 430px) {
  .showroom-header {
    text-align: center;
  }

  .showroom-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 100vw;
  }
}
