.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9630d;
  color: #fff;
  font-family: "Ultra", serif;
  font-weight: 100;
  padding: 1rem;
}

.navbar-left .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link-text {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding-left: 4rem;
  padding-right: 4rem;
  transition: all 0.3s ease;
}

.navbar-link-text:hover {
  color: #D3D3D3;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-right .login-link {
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar-right .login-link:hover {
  color: #D3D3D3;
}

@media (max-width: 1024px) {
  .navbar-container {
    max-width: 100vw;
  }

  .navbar-left {
    padding: 0rem;
  }

  .navbar-center {
    padding: 0rem;
  }

  .navbar-links {
    padding: 0rem;
  }

  .navbar-link-text {
    padding: 2rem;
    font-size: 1.5rem;
  }

   .navbar-right .login-link {
    font-size: 1.5rem;
  }

  .navbar-right .home-navbar-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-right {
    display: none;
  }
}