.home-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9630d;
  color: #fff;
  font-family: "Ultra", serif;
  font-weight: 100;
  padding: 1rem;
}

.home-navbar-left .home-navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-logo-img {
  width: 100px;
  height: auto;
  box-shadow: 0 0 3px 3px #D3D3D3;
  transition: all 0.3s ease;
}

.navbar-logo-img:hover {
  box-shadow: 0 0 3px 3px #808080;
}

.home-navbar-center{
  display: flex;
  align-items: center;
}

.home-navbar-tutorial {
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.home-navbar-tutorial:hover {
  color: #D3D3D3;
}

.home-navbar-right {
  display: flex;
  align-items: center;
}

.home-navbar-right {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.home-navbar-right .home-contact-link {
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.home-contact-link:hover {
  color: #D3D3D3;
}
