.intro-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

.intro-article h1 {
  font-family: "Ultra", serif;
  font-size: 4rem;
  font-weight: 100;
}

.intro-article p {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.tutorial-body-container {
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  place-content: center;
  margin: 3rem auto;
  border: solid #f9630d 3px;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 10px #d3d3d3;
}

.inside-mount-article h2 {
  font-family: "Ultra", serif;
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inside-mount-article p {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.inside-mount-image {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.outside-mount-article h2,
.outside-mount-article h3 {
  font-family: "Ultra", serif;
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.outside-mount-article p {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.outside-mount-image {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.tutorial-body-container ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.tutorial-body-container ol li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 2560px) {
  .intro-article {
    max-width: 60vw;
    width: 60vw;
  }

  .intro-article h1 {
    font-size: 4rem;
  }

  .intro-article p {
    font-size: 2rem;
  }

  .tutorial-body-container {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    width: 70vw;
  }

  .inside-mount-article p {
    font-size: 1.8rem;
  }

  .outside-mount-article p {
    font-size: 1.8rem;
  }

  .inside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: auto;
    width: 40%;
    object-fit: cover;
  }

  .outside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1440px) {
  .intro-article {
    max-width: 70vw;
    width: 70vw;
  }

  .intro-article h1 {
    font-size: 3rem;
  }

  .intro-article p {
    font-size: 1.2rem;
  }

  .tutorial-body-container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
  }

  .inside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }

  .outside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .intro-article h1 {
    font-size: 2.5rem;
  }

  .tutorial-body-container {
    display: flex;
    flex-direction: column;
  }

  .inside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }

  .outside-mount-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .tutorial-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inside-mount-image,
  .outside-mount-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .tutorial-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-article h1 {
    font-size: 2rem;
  }

  .intro-article p {
    font-size: 1rem;
  }

  .inside-mount-article h2 {
    font-size: 2rem;
  }

  .inside-mount-article p {
    font-size: 1rem;
  }

  .outside-mount-article h2 {
    font-size: 2rem;
  }

  .outside-mount-article p {
    font-size: 1rem;
  }
}
