.home-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9630d;
  padding: 1rem 3rem;
  font-family: "Ultra", serif;
}

/* Logo */
.home-navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo-img {
  width: 100px;
  height: auto;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 0 3px 3px #d3d3d3;
}

.navbar-logo-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px 4px #808080;
}

/* Link section */
.home-navbar-links {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1rem;
  margin-right: 2rem;
}

.home-navbar-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 2rem;
}

.home-navbar-link:hover {
  color: #D3D3D3;
}

@media (max-width: 767px) {
  .home-navbar-links {
    display: none;
  }
}