.tape-measure-image {
  max-width: 90%;
  object-fit: cover;
}

.tape-measure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #f9630d;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  cursor: grab;
  width: 470px;
}